{% extends "base.html" %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'note_taking/style.css' %}">
{% endblock extra_head %}

{% block nav %}
    <ul>
        <li><a class="nav-link" href="{% url 'project_index' %}">Toutes les apps</a></li>
    </ul>

    <hr>

    <ul>
        {% url 'note_taking:index' as url %}
        <li><a class="nav-link {% if request.path == url %}nav-link--active{% endif %}" href="{{ url }}">
            Accueil
        </a></li>
        
        {% url 'note_taking:notes_list' as url %}
        <li><a class="nav-link {% if request.path == url %}nav-link--active{% endif %}" href="{{ url }}">
            Les notes
        </a></li>
        
        {% url 'note_taking:projects_list' as url %}
        <li><a class="nav-link {% if request.path == url %}nav-link--active{% endif %}" href="{{ url }}">
            Les projets
        </a></li>
    </ul>
{% endblock nav %}

{% block admin %}
    <ul>
        <li><a href="{% url 'note_taking:clear_notes' %}">
            Réinitialiser les notes
        </a></li>
    </ul>
{% endblock admin %}
