{% extends "base.html" %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'note_taking/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
{% endblock extra_head %}

{% block nav %}
    <ul class="mb-4">
        <li><a class="button-tw button-with-icon" href="{% url 'project_index' %}">
            <span class="material-symbols-rounded">apps</span>
            <span>Toutes les apps</span>
        </a></li>
    </ul>

    <hr class="hidden">

    <ul>
        {% url 'note_taking:index' as url %}
        <li><a class="button-tw {% if request.path == url %}button-tw--active{% endif %} button-with-icon" href="{{ url }}">
            <span class="material-symbols-rounded">home</span>
            <span>Accueil</span>
        </a></li>

        {% url 'note_taking:notes_list' as url %}
        <li><a class="button-tw {% if request.path == url %}button-tw--active{% endif %} button-with-icon" href="{{ url }}">
            <span class="material-symbols-rounded">docs</span>
            <span>Les notes</span>
        </a></li>
        
        {% url 'note_taking:notes_search' as url %}
        <li><a class="button-tw {% if request.path == url %}button-tw--active{% endif %} button-with-icon" href="{{ url }}">
            <span class="material-symbols-rounded">search</span>
            <span>Recherche de notes</span>
        </a></li>
        
        {% url 'note_taking:images_list' as url %}
        <li><a class="button-tw {% if request.path == url %}button-tw--active{% endif %} button-with-icon" href="{{ url }}">
            <span class="material-symbols-rounded">image</span>
            <span>Les images</span>
        </a></li>
    </ul>
{% endblock nav %}

{% block admin %}
    <!-- <ul>
        <li><a href="{% url 'note_taking:clear_notes' %}">
            Réinitialiser les notes
        </a></li>
    </ul> -->
{% endblock admin %}
