{% extends "note_taking/base.html" %}

{% block extra_head %}
    {{ block.super }}
    <title>Liste des images</title>
{% endblock extra_head %}

{% block content %}
    <h1>Liste des images importées</h1>

    <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-4">
        {% for img in images %}
            <div>
                <p>{{ img.original_path }}</p>
                {% if img.file %}
                    <img src="{{ img.file.url }}" class="w-full">
                {% else %}
                    <p style="color:red;">Pas de fichier associé</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
