{% extends "note_taking/base.html" %}

{% block extra_head %}
    {{ block.super }}
    <title>Liste des notes</title>
{% endblock extra_head %}

{% block content %}
    <h1>Liste des notes</h1>

    <p>
        {{ object_list.count }} notes dans la base de données.
    </p>

    <hr>
    <form method="post" action="{% url 'note_taking:import_note' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="note_import">Importer une ou plusieurs notes</label>
            <input type="file" name="note_import" id="note_import" accept=".qmd" multiple>
        </p>
        <button type="submit">Importer</button>
    </form>
    <hr>

    <table>
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Projets</th>
            </tr>
        </thead>
        <tbody>
            {% for note in object_list %}
                <tr>
                    <th scope="row"><a href="{% url 'note_taking:note_detail' note.pk %}">
                        {{ note.date|date:'D. j M. Y' }}
                    </a></th>
                    <td>
                        {% if note.projects %}
                            <ul class="tags-list">
                                {% for project in note.projects %}
                                    <li><a href="{% url 'note_taking:project_detail' project.pk %}">
                                        {{ project }}
                                    </a></li>    
                                {% endfor%}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
