{% extends "note_taking/base.html" %}

{% block extra_head %}
    {{ block.super }}
    <title>Liste des notes</title>
{% endblock extra_head %}

{% block content %}
    <h1>Note du <time datetime="{{ object.date }}">{{ object.date|date:'l j F Y' }}</time></h1>

    <a target="_blank" href="{% url 'note_taking:note_md' note.pk %}">Markdown</a>
    <a target="_blank" href="{% url 'note_taking:note_json' note.pk %}">JSON</a>

    {% for note_part in object.parts.all %}
        <article class="note-part">
            <header>
               <h2>
                    {{ note_part.project }}
                    {% if note_part.subject %}
                        <span> / {{ note_part.subject }}</span>
                    {% endif %}
                </h2>
                {% if note_part.tags %}
                    <ul class="tags-list">
                        {% for tag in note_part.tags %}
                            <li class="tag">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </header>

            {{ note_part.content|safe|linebreaks }}
        </article>
    {% endfor %}
{% endblock content %}
