{% extends "note_taking/base.html" %}

{% block extra_head %}
    {{ block.super }}
    <title>Projet {{ project }}</title>
{% endblock extra_head %}

{% block content %}
    <h1>Projet {{ project }}</h1>

    {% for date, note_parts in note_parts_by_date %}
        <section class="note-date-section">
            <!-- Date format: Lundi 14 décembre 2025 -->
            <h2><time datetime="{{ date }}">{{ date|date:"l d F Y"|capfirst }}</time></h2>

            {% for note_part in note_parts %}
                <article class="note-part">
                    <header>
                        {% if note_part.subject %}
                            <h3>{{ note_part.subject }}</h3>
                        {% endif %}
                        {% if note_part.tags %}
                            <ul class="tags-list">
                                {% for tag in note_part.tags %}
                                    <li>{{ tag }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </header>

                    {{ note_part.content|safe|linebreaks }}
                </article>
            {% endfor %}
        </section>
    {% endfor %}
{% endblock content %}
