/* | RESET | */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* | VARIABLES | */

:root {
    --color-neutral--10: oklch(10% 0 0);
    --color-neutral--20: oklch(20% 0 0);
    --color-neutral--30: oklch(30% 0 0);
    --color-neutral--40: oklch(40% 0 0);
    --color-neutral--50: oklch(50% 0 0);
    --color-neutral--60: oklch(60% 0 0);
    --color-neutral--70: oklch(70% 0 0);
    --color-neutral--80: oklch(80% 0 0);
    --color-neutral--90: oklch(90% 0 0);
    --color-neutral--95: oklch(95% 0 0);

    --color-alert--20: oklch(20% 0.07  15);
    --color-alert--30: oklch(30% 0.11  15);
    --color-alert--40: oklch(40% 0.15  15);
    --color-alert--50: oklch(50% 0.19  15);
    --color-alert--60: oklch(60% 0.23  15);
    --color-alert--70: oklch(70% 0.19  15);
    --color-alert--80: oklch(80% 0.11  15);
    --color-alert--90: oklch(90% 0.05  15);
    --color-alert--93: oklch(93% 0.035 15);
    --color-alert--95: oklch(95% 0.02  15);

    --color-warning--20: oklch(20% 0.04 90);
    --color-warning--30: oklch(30% 0.06 90);
    --color-warning--40: oklch(40% 0.08 90);
    --color-warning--50: oklch(50% 0.10 90);
    --color-warning--60: oklch(60% 0.12 90);
    --color-warning--70: oklch(70% 0.14 90);
    --color-warning--80: oklch(80% 0.16 90);
    --color-warning--90: oklch(90% 0.12 90);
    --color-warning--95: oklch(95% 0.06 90);

    --color-primary--30: oklch(30% 0.06   265);
    --color-primary--40: oklch(40% 0.08   265);
    --color-primary--50: oklch(50% 0.10   265);
    --color-primary--60: oklch(60% 0.12   265);
    --color-primary--70: oklch(70% 0.12   265);
    --color-primary--80: oklch(80% 0.12   265);
    --color-primary--90: oklch(90% 0.05   265);
    --color-primary--93: oklch(93% 0.033  265);
    --color-primary--95: oklch(95% 0.023  265);
}

/* | BASE | */

ul, ol{
    padding-left: 1.5rem;
}

hr{
    margin: .5rem 0;
    width: 100%;
}

body{
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100vh;
    position: relative;
}

main{
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

nav{
    background-color: var(--color-neutral--95);
    padding: 1rem;
}

nav > p{
    margin: 0 0 .5rem;
}

nav > ul{
    padding-left: 0;
    margin-top: 0;
    list-style: none;
}

a{
    --color: oklch(40% 0.2 265);
    color: var(--color);
    text-decoration: none;
}

a:hover{
    --color: oklch(55% 0.2 265);
    text-decoration: underline;
}

a:visited{
    color: var(--color);
}

table {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
}

/* | BLOCK | */

.nav-link{
    --color: black;
    --bg-color: none;

    background-color: var(--bg-color);
    padding: .6rem;
    border-radius: .8rem;
    display: block;
    text-decoration: none;
}

.nav-link:hover, .nav-link--active{
    --color: black;
    --bg-color: white;
    
    text-decoration: none;
}

.admin-side-panel{
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    background-color: var(--color-neutral--95);
    padding: 1rem;
}

.messages_wrapper{
    position: fixed;
    border-radius: 1.5rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    height: 100%;
    max-height: 20%;
    background-color: rgb(178, 173, 182);
    padding: 1rem;
    overflow: hidden;
}

.messages_wrapper > div{
    overflow-y: auto;
    height: 100%;
}

.messages_wrapper:not(.messages_wrapper:has(.alert)){
    display: none;
}

.button{
    --color: var(--color-primary--40);
    --bg-color: var(--color-primary--93);

    display: inline-block;
    font-weight: 600;
    padding: .6rem;
    margin: .4rem 0;
    text-decoration: none;
    background-color: var(--bg-color);
    border-radius: .8rem;
}

.button:hover{
    --color:    var(--color-primary--40);
    --bg-color: var(--color-primary--95);
    text-decoration: none;
}

.button--danger{
    --color:    var(--color-alert--40);
    --bg-color: var(--color-alert--93);
}

.button--danger:hover{
    --color:    var(--color-alert--40);
    --bg-color: var(--color-alert--95);
}

.h2-like{
    font-size: 1.5rem;
    font-weight: 600;
}

.note-part{
    border: 1px solid;
    padding: .4rem;
}

.note-part header{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

.note-part header h2{
    margin: 0;
}

.tags-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: .4rem;
    height: fit-content;
}

.tags-list li{
    --bg-color: lightgray;

    background-color: var(--bg-color);
    padding: .1rem .4rem;
    border-radius: 1rem;
    font-size: .8rem;
    font-weight: 600;
}