/* | RESET | */

/* | BASE | */
time{
    font-size: .8rem;
}

/* | BLOCK | */

.todo-list__container{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .4rem;
}

.todo-list__main-item-wrapper{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
}

.todo-list__main-item{
    --border-radius: .6rem;
    --bg-color: var(--color-neutral--95);

    padding: .4rem;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    align-items: baseline;
    position: relative;
}

.todo--overdue{
    --bg-color:     var(--color-alert--90);
    --border-color: var(--color-alert--60);
}
.todo--today{
    --bg-color:     var(--color-primary--95);
    --border-color: var(--color-primary--60);
}
.todo--soon{
    --bg-color:     var(--color-primary--95);
}

.todo--overdue::after,
.todo--today::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
    border: .2rem solid var(--border-color);
    pointer-events: none;
}

.todo-list__main-item-title{
    margin: 0;
    font-size: 1rem;
}

.todo-list__main-item-content a{
    width: fit-content;
}

.todo-list__main-item > time{
    width: fit-content;
    justify-self: end;
}

.todo-list__children-wrapper{
    grid-column: 2/-1;
}

.todo-list__children-wrapper ul{
    --border-color: var(--color-neutral--50);

    padding: 0;
    margin-top: .4rem;
    list-style: none;
    border: 1px solid var(--border-color);
    border-radius: .2rem;
    overflow: hidden;
}

.todo-list__small-item-wrapper{
    --bg-color: var(--color-neutral--95);

    background-color: var(--bg-color);

    padding: .4rem;
}

.todo-list__small-item-wrapper--overdue{
    --bg-color: var(--color-alert--90);
}
.todo-list__small-item-wrapper--today,
.todo-list__small-item-wrapper--soon{
    --bg-color: var(--color-primary--95);
}


.todo-list__small-item{
    --color: black;
    --font-weight: 400;

    color: var(--color);
    background-color: var(--bg-color);
    font-weight: var(--font-weight);
    
    display: grid;
    grid-template-columns: 1fr auto;
}

.todo-list__small-item--overdue{
    --color: var(--color-alert--40);
    --font-weight: 600;
}
.todo-list__small-item--today{
    --color: var(--color-primary--40);
    --font-weight: 600;
}
.todo-list__small-item--soon{
    --color: var(--color-primary--40);
    --font-weight: 600;
}

.todo-list__small-item a{
    width: fit-content;
}

.todo-list__children-wrapper li:not(:first-child){
    border-top: 1px solid var(--border-color);
}
