<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'alert_system.css' %}">

    <script src="{% static 'alert_system.js' %}"></script>
    
    {% block extra_head %}{% endblock extra_head %}
</head>

<body class="font-sans grid grid-cols-[auto_1fr_auto] h-screen relative">
    <nav class="p-4 bg-slate-200">
        {% block nav %}{% endblock nav %}
    </nav>
    
    <main class="p-4 h-full box-border overflow-auto">
        {% block content %}{% endblock content %}
    </main>
    
    <div class="admin-side-panel">
        <h2>Admin</h2>
        
        <a href="{% url 'admin:index' %}" target="_blank">Admin panel</a>
        
        <hr>
        
        {% block admin %}{% endblock admin %}
    </div>

    <script>
        {% for message in messages %}
            Alert.toast("{{ message|escapejs }}");
        {% endfor %}
    </script>
</body>
</html>