<!DOCTYPE html>

<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="{% static 'alert_system.css' %}">
    <script src="{% static 'alert_system.js' %}"></script>
    
    {% block extra_head %}{% endblock extra_head %}
</head>

<body>
    <nav>
        {% block nav %}{% endblock nav %}
    </nav>
    
    <main>
        {% block content %}{% endblock content %}
    </main>
    
    <div class="admin-side-panel">
        <h2>Admin</h2>
        
        <a href="{% url 'admin:index' %}" target="_blank">Admin panel</a>
        
        <hr>
        
        {% block admin %}{% endblock admin %}
    </div>

    <script>
        {% for message in messages %}
            Alert.toast("{{ message|escapejs }}");
        {% endfor %}
    </script>
</body>
</html>