{% extends "base.html" %}

{% block head %}
    <title>Gestion générale</title>
{% endblock head %}

{% block nav %}
    <ul>
        {% url 'note_taking:index' as url %}
        <li><a class="button-tw {% if request.path == url %}button-tw--active{% endif %} button-with-icon" href="{{ url }}">
            <span class="material-symbols-rounded">docs</span>
            <span>Prise de notes</span>
        </a></li>

        {% url 'todolist:index' as url %}
        <li><a class="button-tw {% if request.path == url %}button-tw--active{% endif %} button-with-icon" href="{{ url }}">
            <span class="material-symbols-rounded">checklist</span>
            <span>TODO list</span>
        </a></li>
    </ul>
{% endblock nav %}

{% block content %}
    <h1>Application de gestion générale</h1>
{% endblock content %}